.env
grok/context/currentChat/currentChat.html
grok/context/currentChat/summary.json
grok/context/currentChat/currentChat.json
grok/context/history/*
grok/context/fullCompletion/*
grok/context/responses/*
node_modules/*
grok/context/context.data
grok/context/currentChat/*.html
grok_cmd/
docker-compose.yml
docs/
grok-nest-ms/
infrastructure/
grok/context/currentChat/markdown/*
grok/context/currentChat/html/*
grok/context/history/*
grok/context/fullCompletion/*
grok/context/responses/*
grok/context/context.history
grok/context/currentChat/*.html
grok/context/html/*
