.env
node_modules/*
.grokRuntime
shell_helpers/.grokRuntime
terraform/*

grok/context/currentCha
user_saved_readmes/*
grok/context/history/*
grok/context/fullCompletion/*

grok/context/context.history
grok/context/context.data

grok/context/history/*

!grok/context/currentChat/README.md
!grok/context/history/responses/README.md
!grok/context/history/fullCompletion/README.md

