[Unit]
Ai_cmd express API

[Service]
WorkingDirectory=/home/ubuntu/ai_cmd/ai_cmd
ExecStart=node server.js >> ai_cmd.log
Restart=always
StandardOutput=append:/home/ubuntu/ai_cmd/ai_cmd_api.log
User=root
Group=nogroup
Environment=/home/ubuntu/ai_cmd/ai_cmd/.env


[Install]
WantedBy=multi-user.target
